[Desktop Entry]
Encoding=UTF-8
Name=ieiBuzzer
Exec=sudo /usr/bin/ieiBuzzer
Icon=/usr/share/iei-lightbar/iei-lightbar_launcher.png
Terminal=false
Type=Application
Categories=Development;
